<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
  <div class="navbar-header">
      <span class="navbar-brand" routerLinkActive="active" routerLink="/home">
          <!-- <img src="/assets/Logo_Philia3.png" alt=""> -->
                    myCharlotte
        </span> 
      </div>
      
        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
                (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div  class="collapse navbar-collapse " 
                [ngClass]="{'show': isShow}"
                id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto justify-content-end">
              <li class="nav-item ">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/programme/motivations']">Nos motivations </a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/programme']" >Programme </a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="/home">S'inscrire</a>
                </li>
                </ul>
              </div>
</nav>