.bigContainer {
    // padding-top: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    min-width: 100%;
    // display: flex;
    // flex-wrap: wrap;
}

.container {
    padding-top: 2rem;
}

.jumbotron {
        background-image: url("/assets/images/overlay.png"), url("/assets/images/header.svg"), linear-gradient(75deg, #FF7088 32%, #F2B69D 70%);
        // background-image: url("/assets/images/ie/content-style1.svg");
        width: 100%;

}


.card { 
    padding-right: 0;
    padding-left: 0;
    margin: 2rem;
}

.jumbotron > div > h1 {
    color: white;
}

.lead {
    color: rgba(108, 117, 125, 0.8);
}