
<div class="jumbotron">
    <h1 class="display-4">Protection des données</h1>
 
    <h4>POLITIQUE DE PROTECTION DES DONNEES A CARACTERE PERSONNEL</h4>
    <h5>1. Principes généraux</h5>

    <p>myCharlotte attache une grande importance à la protection de la vie privée et des données personnelles.</p>
    <p>Conformément au règlement européen 2016/679 du 26 avril 2016, à la loi « informatique et libertés » du 6 janvier 1978 modifiée et au décret du 20 octobre 2005 modifié, myCharlotte  prend des engagements forts à l’égard des personnes concernées.</p>
    <p>Il est rappelé que toutes les informations collectées sur le Site et l'Application web et mobile sont enregistrées par myCharlotte, responsable du traitement.</p>
    
    <p>Nous collectons les données personnelles en toute transparence et de manière explicite.</p>
    
    <p>Dans la mesure où notre service est dédiée aux femmes atteintes du cancer du sein, le simple fait que vous utilisiez notre service nous donne des indications sur votre état de santé.</p>
    
    <p>C’est pourquoi, nous traitons les données d’utilisateur identifiable en tant que données de santé et avec votre consentement explicite et dans le respect des dispositions légales relatives à la collecte et à l’hébergement des données de santé, par application de l’article L1111-8 du code de la santé public.</p>
    
    <p>myCharlotte n’utilise les données personnelles qu’aux seules finalités exposées ci-dessous. Nous mettons en œuvre les mesures techniques et organisationnelles pour garantir la protection des données contre le traitement non autorisé et illégal, la perte ou la destruction involontaire des données.</p>
    
    <p>En utilisant nos services, l’utilisateur est informé que des données à caractère personnel – en particulier des données d’identification et des données de santé – le concernant sont collectées et traitées en exécution des présentes conditions générales d’utilisation et sur la base de son consentement explicite lors de son inscription, par application de l’article 9.2.a du RGPD.</p> 
    
    <h5>2.  Les traitements et leurs finalités</h5>
    
    <h6>2.1  Traitement nécessaire à l’exécution de nos services :</h6>
    
    <h6>2.1.1. Données collectées</h6>
    
    <p>Pour l’exécution de ses services, myCharlotte collecte : </p>
    
    <ul><li> <b>Les données personnelles nécessaires au téléchargement de l’Application:</b><br>
      L’installation de notre Application mobile, la saisie de données techniques et de données liées aux dispositifs, tel que le numéro de série,</li>
    
    <li><b>Les données personnelles nécessaires à la création d’un compte utilisateur et à l’utilisation de notre Application : </b></li>
    <ul><li>Nom, prénom</li>
    <li>adresse email,</li>
    <li>mot de passe </li>
    <li>date d’inscription</li>
    <li>le consentement de l’utilisateur</li>
    <li>identificateur du dispositif </li>
    <li>langue, pays, fuseau horaire</li>
    <li>adresse IP</li></ul>
    
    <li><b>Les données personnelles à caractère de santé nécessaires pour la mise à disposition de nos services,</b> afin de vous concocter un programme sur-mesure qui varie en fonction de votre environnement familial, votre état et physiologie, notamment des données sur votre condition physique et psychologique, sur les effets secondaires ressentis et sur votre mode de vie.</li>
  </ul>
    
    <h6>2.1.2. Finalités </h6>
    
    <p>Les traitements des données susvisées sont nécessaires pour la bonne exécution de notre prestation de services, telle que : </p>
    
    <ul><li>L’installation de l’Application,</li>
    <li>La facturation de l’utilisation de notre Application,</li>
    <li>La création d’un compte utilisateur, </li>
    <li>La mise à disposition de nos services après saisie volontaire par l’utilisateur des données personnelles nécessaires à la personnalisation du programme, </li>
    <li>La réception de la newsletter d’information, qui fait entièrement partie des services mais demeure optionnelle et peut être désactivée par un simple lien figurant en bas de la communication électronique. </li></ul>
    
    <p>La base juridique de ce traitement est l’exécution d’un contrat (article 6.1.B du RGPD).</p>
    
    <h6>2.2. Traitement permettant des améliorations de nos services </h6>
    
    <p>L’utilisateur donne également expressément son consentement pour que le traitement de ses données puisse servir à l’amélioration de nos services et produits. </p>
    
    <h6>2.2.1. Données collectées</h6>
    
    <p>Pour ce faire, les mêmes données personnelles d’utilisateur que celles collectées pour l’exécution du contrat décrites au paragraphe 2.1. sont utilisées. </p>
    
    <p>Sont également collectées des données d’utilisation (Usage Data) qui nous permettent de savoir la manière dont nos services sont utilisés. A partir de ces données, nous pouvons savoir comment nos services sont utilisés et travailler à l’amélioration de leur présentation, contenu et évolution. </p>
    
    <h6>2.2.2. Finalités</h6>
    
    <p>Notre produit doit être constamment analysé, développé, testé et amélioré afin de répondre au mieux aux besoins de nos utilisateurs et leur permettre une utilisation optimale des contenus.</p>
    
    <p>La base juridique de ce traitement est l’exécution d’un contrat (article 6.1.E du RGPD).</p>
    
    
    <h5>3. Utilisation de données anonymes à des fins de recherches et statistiques conformes à la loi.</h5>
    
    <p>myCharlotte s’engage pour l’amélioration de la santé de la femme dans son combat contre le cancer du sein. C’est pourquoi, myCharlotte est susceptible d’utiliser les données d’utilisateurs anonymes à des fins de recherches scientifiques et statistiques ainsi qu’à des fins d’analyse. Cette pratique vise à déterminer avant tout l’efficacité des programmes proposés par myCharlotte sur l’état des personnes. </p>
    
    <p>Ce type de traitement de données anonymes est autorisé en application de l’article 9 2 J du RGPD.</p>
    
    <h5> 4. Destinataires des traitements de données personnelles</h5>
    
    <p>Les destinataires des données sont de plusieurs ordres : </p>
    <ul><li> les équipes internes de myCharlotte, </li>
    <li>les sous-traitants et partenaires pour l’exécution du traitement concerné.</li></ul>
    
    <p> Les transmissions de données personnelles avec les destinataires (quelle que soit leur nature juridique, sous-traitant, responsable de traitement ou simple destinataire) sont réalisées de manière sécurisée et en application d’un accord entre myCharlotte et chaque destinataire conforme aux dispositions du RGPD. myCharlotte s’engage à ce que chaque destinataire connaisse les principes directeurs de la protection des données personnelles et y soient soumis en application de la loi et/ou d’un contrat spécifique.</p>
    
    <h5> 5. Conservation des données</h5>
    
    <p>myCharlotte prend soin de conserver vos données personnelles dans un pays qui garantit un niveau de protection adéquat au niveau de protection légale assurée par le droit français et le droit de l’Union Européenne. </p>
    
    <p>Vos données sont conservées par myCharlotte de façon sécurisée et conformément à la réglementation. </p>
    
    <p>Les durées de conservations pratiquées par myCharlotte respectent la réglementation applicable en France et sont les suivantes :</p>
    
    <ul><li>Un (1) an à compter de la dernière interaction avec l’Application ou le site Internet pour les données d’identification, les données relatives à la santé et à la vie de la personne ;</li>
    
    <li>Un (1) an à compter de leur collecte pour les données de connexion et d’utilisation de l’Application ; </li>
    
    <li>Cinq (5) ans pour les données relatives au contrat en particulier la gestion des comptes clients et facturation.</li></ul>
    
    
    <h5>6. Cookies</h5>
    
    <p>Nous utilisons des cookies et des dispositifs similaires, sous réserve de votre consentement, pour faciliter votre navigation sur le Site ou l’Application, pour connaître votre façon d’interagir avec nous.</p>
    
    <p>Nous n’utilisons que des cookies d'analyse de navigation. Ces cookies recueillent des données générales sur les accès des utilisateurs au site (pas sur le contenu) afin de nous permettre par la suite d'obtenir des informations globales sur ces accès à des fins de statistiques.</p>
    
    <p>Ils permettent d'effectuer le suivi du site par le biais de l'outil Google Analytics, qui est un service fourni par Google pour obtenir des données sur l'accès des utilisateurs aux sites web. Certaines des données enregistrées sont analysées par la suite. C'est le cas notamment des données suivantes : </p>
    <ul><li>fréquence d'accès au site d'un utilisateur, dates de la première et de la dernière visite de l'utilisateur, </li>
    <li> durée des visites, </li>
    <li> page depuis laquelle l'utilisateur a accédé au site, </li>
    <li> moteur de recherche utilisé pour y accéder ou lien sur lequel il a cliqué pour y accéder, endroit du monde depuis lequel l'utilisateur a accédé au site, etc. </li></ul>
    
    <p> La configuration de ces cookies est prédéterminée par le service proposé par Google et les informations générées par le cookie concernant l’utilisation de notre site web seront transmises et stockées par Google, Inc (une société basée aux États-Unis). </p>
    
    <p> Nous vous conseillons donc de consulter la politique de confidentialité de Google Analytics, </p>
    <ul><li><a href="https://support.google.com/analytics/answer/6004245?hl=fr&ref_topic=2919631" target="_blank">Règles de protection des données de Google</a></li>
      <li><a href="https://policies.google.com/privacy?hl=fr" target="_blank">Règles de confidentialité de Google</a></li></ul>
      <p>afin d'obtenir plus d'informations sur ces cookies et sur la façon de les désactiver (étant entendu que nous ne sommes responsables ni du contenu ni de l'exactitude des sites de tiers). </p>
      
      <p>Ces cookies ont vocation à être conservés pour une durée variable allant jusqu’à 13 mois, et pourront être lus et utilisés par myCharlotte lors d’une visite ultérieure sur le site. </p>
      
      <p>Tous les navigateurs Web vous permettent de limiter les comportements des cookies ou de les désactiver dans les paramètres ou les options du navigateur. Les étapes à suivre sont différentes pour chaque navigateur, vous pouvez trouver des instructions dans le menu « Aide » de votre navigateur respectif. </p>
      
      <p>Grâce à votre navigateur, vous pouvez aussi consulter les cookies présents sur votre ordinateur, et les supprimer un à un ou tous d’un coup.</p>
      
      <p>Les cookies sont des fichiers texte de sorte que vous pouvez les ouvrir et lire le contenu. Les données contenues à l’intérieur sont souvent cryptées et correspondant à une session Web si bien qu'elles n'ont du sens que pour le site internet qui les a écrites.</p>
      
      <p>Vous pouvez trouver plus d'informations sur les cookies sur le site de la <a href="https://www.cnil.fr/fr/cookies-comment-mettre-mon-site-web-en-conformite" target="_blank">CNIL</a></p>
        
    <h5>7. Vos droits </h5> 
    
    <h6>7.1. L’étendue des droits</h6>
    
    <p>Vous disposez des droits suivants :</p> 
    <ul><li> droit d’accès à vos données personnelles ;</li>
    <li>droit de rectification de vos données personnelles si elles sont inexactes ou incomplètes ;</li> 
    <li>droit de limitation dans les conditions visées à l’article 18 du RGDP ;</li> 
    <li>droit d’effacement de vos données personnelles si :</li> 
    <ul><li>elles ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou traitées d'une autre manière ;</li>
    <li>vous retirez votre consentement pour ce qui concerne les traitements soumis à consentement ;</li> 
    <li>vous vous opposez valablement au traitement ;</li> 
    <li>elles ont fait l'objet d'un traitement illicite; ou</li> 
    <li>une loi l’oblige.</li></ul> 
    <li>droit d’opposition pour motif légitime, </li> 
    <li>droit à la portabilité de vos données, c’est-à-dire que vous pouvez exiger la transmission de vos données à un autre responsable, sous réserve de la possibilité technique de cette manoeuvre ; </li> 
    <li>droit de définir des directives relatives au sort de vos données à caractère personnel après votre décès et, </li> 
    <li>pour les traitements basés sur le consentement, de retirer votre consentement à tout moment, étant précisé que cela aura pour effet de mettre fin à l’utilisation des services qui requiert votre consentement. </li> </ul>
    
   <h6>7.2. Effet de la révocation du consentement</h6> 
    
    <p>Comme exposé ci-dessus, nous traitons vos données de santé uniquement sur la base de votre consentement, dans la mesure où celles-ci sont nécessaires à l’exécution de notre Service. Ainsi, vous pouvez révoquer à tout moment ce consentement, ce qui est votre droit le plus absolu pour mettre fin au traitement, mais nous attirons votre attention que, dans un tel cas, nous ne pourrons pas continuer à vous fournir nos services. </p> 
    
    <h6>7.3. Exercices des droits </h6> 
    
    <p>Pour exercer un ou plusieurs de vos droits, vous pouvez nous contacter à l’adresse email suivante : <a href="mailto:charlotte@mycharlotte.fr">charlotte@mycharlotte.fr</a> en joignant une pièce justificative d’identité.</p> 
    
    <h6>7.4. Réclamations</h6> 
    
    <p>En cas de réclamation, vous pouvez contacter la <a href="https://www.cnil.fr" target="_blank">CNIL</a></p> 
    
    <br>
    <a class="btn btn-outline-primary" routerLink="">Retour</a>
    
        </div>
