.container {
    padding: 2.5vh;
}

.txt {
    color: dimgray;
}

.title {
    margin-top: 6vh;
    text-align: justify;
}

.subtitle {
    margin-top: 4vh;
    text-align: justify; 
}

.content {
    margin-top: 3vh;
    text-align: justify; 
}

.citation {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-style: italic;
}

.italic {
    font-style: italic;
    font-weight: bold;
}