<div class="container">
  <section id="header" class="top">
    <header>
      <h1>Willkommen bei myCharlotte</h1>
      <p class="subTitle">myCharlotte macht den Umgang mit Nebenwirkungen von Brustkrebs-Therapien leichter.</p>
    </header>
    <footer>
      <div class="row scrollDown">
          <footer>
             <a href="#register"> <button type="button" class="btn btn-outline-light">Hol' Dir die App!</button></a>
          </footer>
      </div>
    </footer>
  </section>

<!-- First -->
  <section id="first" class="main">
    <header>
      <div class="container2">
        <h2>Dein Brustkrebs, <br/>Deine täglichen Schritte zu einer verbesserten Lebensqualität</h2>
        <p>Sag uns wie Du dich heute fühlst, myCharlotte zeigt Dir was Du tun kannst.</p>
        <p id="secondLine">Adaptiere deine Ernährung, deine Bewegung, deinen Umgang mit Angst und Schmerz.</p>
      </div>
    </header>
    <div class="content dark style1 featured">
      <div class="container3">
        <div class="row iconsContainer">
          <div class="icons">
            <section >
              <span class="feature-icon"><span class="icon fa-cutlery"></span></span>
              <header>
                <h3>Ernährung</h3>
              </header>
              <p>Einfache Rezepte, die sich je nach Befinden anpassen</p>
            </section>
          </div>
          <div class="icons">
            <section>
              <span class="feature-icon"><span class="icon fa-bicycle"></span></span>
              <header>
                <h3>Bewegung</h3>
              </header>
              <p>Tägliche Schritte, die Körper und Geist in Bewegung halten</p>
            </section>
          </div>
          <div class="icons">
            <section>
              <span class="feature-icon"><span class="icon fa-sun-o"></span></span>
              <header>
                <h3>Stress Management</h3>
              </header>
              <p>Konzentrations- und Atmungsübungen, die Dein Wohlbefinden verbessern </p>
            </section>
          </div>
        </div>
    
      </div>
    </div>
  </section>

  
</div>
