<div class="container">
  <section id="header" class="top">
    <header>
      <h1>Willkommen by myCharlotte</h1>
      <p class="subTitle">myCharlotte macht den Umgang mit Nebenwirkungen von Brustkrebs-Therapien einfacher.</p>
    </header>
    <footer>
      <div class="row scrollDown">
          <footer>
             <a href="#register"> <button type="button" class="btn btn-outline-light">Hol' dir die App!</button></a>
          </footer>
      </div>
    </footer>
  </section>

<!-- First -->
  <section id="first" class="main">
    <header>
      <div class="container2">
        <h2>Dein Brustkrebs, deine täglichen Schritte zu einer erhöhten Lebensqualität</h2>
        <p>Sag uns wie Du dich heute fühlst, myCharlotte sagt Dir täglich was Du tun kannst. </p>
        <p>Adaptiere deine Ernährung, deine Bewegung, deinen Umgang mit Angst und Schmerz.</p>
      </div>
    </header>
    <div class="content dark style1 featured">
      <div class="container2">
        <div class="row iconsContainer">
          <div class="icons">
            <section >
              <span class="feature-icon"><span class="icon fa-clock-o"></span></span>
              <header>
                <h3>Ernährung</h3>
              </header>
              <p>Einfache Rezepte die sich deinem Befinden anpassen</p>
            </section>
          </div>
          <div class="icons">
            <section>
              <span class="feature-icon"><span class="icon fa-bolt"></span></span>
              <header>
                <h3>Bewegung</h3>
              </header>
              <p>Tägliche Schritte die Körper und Geist in Bewegung halten</p>
            </section>
          </div>
          <div class="icons">
            <section>
              <span class="feature-icon"><span class="icon fa-cloud"></span></span>
              <header>
                <h3>Stress Management</h3>
              </header>
              <p>Durchatmen, Wohlbefinden, es geht vorbei </p>
            </section>
          </div>
        </div>
    
      </div>
    </div>
  </section>

  
</div>
