<app-header></app-header>


  <div class="bigContainer">

      <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead" id="subtitle">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>

          </div>
        </section>

      
      <div class="card-deck">
        <div class="card col-md-4 col-xl-3">
          <img class="card-img-top" src="https://cdn-images-1.medium.com/max/800/0*JXMs59WnzDwBFSCb." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" >Cancer du sein : myCharlotte transmet une approche pour retrouver le sourire</h5>
            <p class="card-text">Pourquoi décider de créer un outil de gestion des effets secondaires après avoir vécu deux cancers du sein à 28 et 35 ans</p>
            <a href="https://medium.com/mycharlotte/cancer-du-sein-mycharlotte-transmet-une-approche-pour-retrouver-le-sourire-8c033b0f9265" target="_blank" class="btn btn-primary">Lisez l'article</a>
          </div>
        </div>

 
  

        <div class="card col-md-4 col-xl-3">
          <img class="card-img-top" src="https://cdn-images-1.medium.com/max/800/0*e90nk-gnhzKc8D44." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" >Agir quand le ciel vous tombe sur la tête</h5>
              <p class="card-text">“Vendredi 18 avril 2008: on m’annonce que j’ai un cancer du sein." <br> 
              Extrait de mon journal.</p>
              <a href="https://medium.com/mycharlotte/agir-quand-le-ciel-vous-tombe-sur-la-tête-3106053d1988" target="_blank" class="btn btn-primary">Lisez l'article</a>
          </div>
        </div>

    </div>

</div>

<app-footer></app-footer>


  