
.container {
    display: flex;
    justify-content: center;
}

.subContainer{
    flex-wrap: wrap;
}

.form-control {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.modal-dialog .modal-dialog-centered {
    align-self: center;
    flex-wrap: wrap;
}

.fade {
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: linear; 
}

.titleRegister {
    text-align: center;
}

.modal-header {
    display: flex;
    justify-content: center;
}

.modal-body {
    display: flex;
    justify-content: center;
}

p {
     text-align: justify;
}

.modal-footer{
    display: flex;
    width: 100%;
    justify-content: center;
}