<div id="register" class="container">
  <div class="subContainer .col-xs-10 .col-md-6">
    <div class="header">
    <h2 class="titleRegister">L’app myCharlotte va bientôt arriver!</h2>
    <p>Vous ou l’une de vos proches est atteinte d’un cancer du sein ?<br/>En attendant l’arrivée de l’App myCharlotte,<br/> inscrivez vous à la newsletter et recevez conseils et vidéos <br/>pour vous aider à prendre en main votre qualité de vie.</p>
    </div>
    <div class="content">
    <form   class="login-form" 
            [formGroup]="myForm" 
            (ngSubmit)="onSubmit()"
    >  
      <input  type="text" 
                class="form-control" 
                placeholder="Prénom" 
                aria-label="firstName"
                formControlName="firstName">
        <input  type="text" 
                class="form-control" 
                placeholder="Nom" 
                aria-label="lastName"
                formControlName="lastName">
        <input  type="text" 
                class="form-control" 
                placeholder="Pays" 
                aria-label="country"
                formControlName="country">
        <input  type="text" 
                class="form-control" 
                placeholder="Ville" 
                aria-label="city"
                formControlName="city">
        <input  type="text" 
                class="form-control" 
                placeholder="Adresse E-Mail" 
                aria-label="email"
                formControlName="email">

                  <div  *ngIf="isAlert"
                        class="alert alert-warning alert-dismissible fade"
                        [ngClass]="{show: isAlert}" 
                        role="alert">
                  Il semblerait que cette adresse email soit déjà prise. <br>
                  Essayer avec une autre adresse.                      
                        <button 
                              type="button" 
                              class="close" 
                              data-dismiss="alert" 
                              aria-label="Close"
                              (click)="closeAlert()">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
        <button type="submit" 
                class="btn btn-light"
                [disabled]="!myForm.valid"
                >Validez</button>
            </form>
          </div>

          <div class="spinner"
                *ngIf="isSpinner">
            <style>@-webkit-keyframes 
              spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@-moz-keyframes 
              spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}@keyframes 
              spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}
            }
              .spinner{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1003;background: #ffffff;overflow:hidden}  
              .spinner div:first-child{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;box-shadow:0 3px 3px 0 #FF7088;transform:translate3d(0,0,0);animation:spin 2s linear infinite}  
              /* .spinner div:first-child:after,.spinner div:first-child:before{content:'';position:absolute;border-radius:50%}  
              .spinner div:first-child:before{top:5px;left:5px;right:5px;bottom:5px;box-shadow:0 3px 3px 0 rgb(255, 228, 32);-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}  
              .spinner div:first-child:after{top:15px;left:15px;right:15px;bottom:15px;box-shadow:0 3px 3px 0 rgba(61, 175, 255,1);animation:spin 1.5s linear infinite} */
              </style>
              <div id="nb-global-spinner" class="spinner">
                <div class="blob blob-0"></div>
                <div class="blob blob-1"></div>
                <div class="blob blob-2"></div>
                <div class="blob blob-3"></div>
                <div class="blob blob-4"></div>
                <div class="blob blob-5"></div>
              </div>
          </div>

        <div  class="modal fade" 
              [ngClass]="{'show': isShow}"
              [ngStyle] = "{display: isShow? 'flex': 'none'}"
              tabindex="-1" 
              role="dialog" 
              aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5>C'est bon!</h5>
                </div>
                  <div class="modal-body">
                      <p>Nous vous avons envoyé une confirmation d'inscription à la newsletter par email. Nous vous avons envoyé une confirmation d'inscription à la newsletter par email. Vous serez les premiers informés quand l’App sera disponible!</p>
                  </div>

                  <div class="modal-footer">
                    <button type="button" 
                    class="btn btn-secondary"
                    (click)="closeModal()">
                      Fermez
                    </button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
</div>