
<div class="jumbotron contain">
    <h1 class="display-4">Conditions Générales d'utilisation</h1>
 
          <p style="text-align:left;">Les sites <a href="http://www.mycharlotte.fr" target="_blank">www.mycharlotte.fr</a>, <a href="http://www.mycharlotte.co" target="_blank">www.mycharlotte.co</a> et l'Application myCharlotte sont édités par Monsieur Grégoire Nédelec, demeurant 26/4 Messerschmidtgasse, à Vienne en Autriche.</p>
          <p>myCharlotte développe et exploite une Application mobile et un site Internet à destination des femmes atteintes du cancer du sein pour les aider à combattre et mieux vivre les effets secondaires de leur maladie.</p>
          
          <p>A l’aide de nos services, nous mettons à la disposition des Utilisatrices des informations, des contenus et un programme d’exercices et d’activités de nature à apporter du bien-être et à aider nos utilisatrices à supporter et mieux vivre les effets secondaires des traitements de leur maladie.</p>
          
          <p><b>myCharlotte ne donne pas de conseils médicaux de quelque type que ce soit. Notre service ne permet pas la réalisation d’un acte de télésurveillance ou de téléconsultation de la part de professionnels de santé. Les informations et conseils dispensés par myCharlotte n’ont pas vocation à se substituer à une consultation médicale et n’ont en aucun cas pour objectif de réaliser un diagnostic.</b></p> 
          
          <p><b>myCharlotte conseille vivement aux Utilisatrices de consulter préalablement les professionnels de santé qui les suivent dans le traitement de leur maladie pour obtenir leur avis préalable et leurs recommandations sur leurs capacités à réaliser des activités proposées par myCharlotte avant de débuter tout programme.</b></p>
          
          <p><b>myCharlotte conseille également vivement aux Utilisatrices d'informer régulièrement leurs médecins des activités qu’elles réalisent dans le cadre de leur programme myCharlotte</b></p>
      
          <h5>1.	Consentement à nos conditions d’utilisation</h5>
          
          <p>Pour ouvrir un compte utilisateur et pour utiliser les Services myCharlotte, vous devez être âgé d’au moins 18 ans et avoir la pleine capacité juridique.</p>
          
          <p>Avant toute première utilisation de nos services, vous devez accepter les présentes conditions générales d’utilisation.</p>
      
          <p>myCharlotte se réserve expressément le droit de procéder à des modifications et ajustements ultérieurs des présentes conditions générales d’utilisation, lesquelles feront l’objet d’une nouvelle acceptation expresse par vos soins au moment de leur mise à jour.</p>
          
          <h5>2.	Protection des données</h5>
          
          <p>myCharlotte attache une grande importance à la protection de la vie privée et des données personnelles.</p>
      
          <p>Conformément au règlement européen 2016/679 du 26 avril 2016, à la loi « informatique et libertés » du 6 janvier 1978 modifiée et au décret du 20 octobre 2005 modifié, myCharlotte prend des engagements forts à l’égard des personnes concernées.</p>
          
          <p>Dans la mesure où notre service est dédiée aux femmes atteintes du cancer du sein, le simple fait que vous utilisiez notre service nous donne des indications sur votre état de santé.</p>
          
          <p>C’est pourquoi, nous traitons les données d’utilisateur identifiable en tant que données de santé et <b>avec votre consentement explicite</b> et dans le respect des dispositions légales relatives à la collecte et à l’hébergement des données de santé, par application de l’article L1111-8 du code de la santé public.</p>
          
          <p><b>Sans votre consentement en matière de protection des données pour les traitements nécessaires des données, il est impossible en pratique d’utiliser notre Service.</b></p>
          
          <p>Vous trouverez, toutes les informations relatives aux données collectées, aux finalités des traitements de données et à vos droits dans  <a routerLink="dataProtection">notre politique de protection des données à caractère personnel</a>.</p>
          
          <h5>3.	Description de nos services</h5>
          
          <p>myCharlotte propose un service d’abonnement personnalisé permettant aux Utilisatrices d’accéder à des contenus écrits, vidéo et audio par le biais de l’Application mobile myCharlotte ou du site Internet www.myCharlotte.fr.</p>
          
          <p>Les contenus mis à disposition par myCharlotte consistent en :</p>
      
          <ul>
            <li>des pratiques de gestion des émotions (relaxation profonde, respiration, méditation entre-autres);</li>
            <li>des pratiques d’activité physique adaptée;</li>
            <li>des activités ciblées sur certains effets secondaires spécifiques.</li>
          </ul>    
      
          <p>Ces contenus sont susceptibles de varier, d'être supprimés ou d’autres contenus ajoutés sans information préalable donnée aux utilisateurs.</p>
      
          <h5>4.	Votre santé</h5>
          <p>L’utilisation des Services myCharlotte se fait sous votre responsabilité.</p>
      
          <p>Les Services myCharlotte sont destinés aux femmes atteintes du cancer du sein et myCharlotte vous recommande vivement de consulter préalablement les professionnels de santé qui vous suivent dans votre traitement de la maladie pour obtenir leur avis préalable et leurs recommandations sur vos capacités à réaliser des activités proposées par myCharlotte avant de débuter tout programme.</p>
          
          <p>Nous vous invitons également à informer régulièrement votre médecin des activités que vous réalisez dans le cadre de notre programme myCharlotte, afin que celui-ci puisse en apprécier les bienfaits.</p>
      
          <p>myCharlotte ne donne pas de conseils médicaux de quelque type que ce soit. Notre service ne permet pas la réalisation d’un acte de télésurveillance ou de téléconsultation de la part de professionnels de santé. Les informations et conseils dispensés par myCharlotte n’ont pas vocation à se substituer à une consultation médicale et n’ont en aucun cas pour objectif de réaliser un diagnostic.</p>
          
      
          <h5>5.	Inscription, abonnement et moyen de paiement</h5>
          
          <!--/ PHASE TEST  -->
          <p>myCharlotte mène une phase test d’une durée de trois (3) mois pendant laquelle les services sont gratuits pour ses Utilisatrices. myCharlotte pourra décider de prolonger la phase test et en informera ses Utilisatrices. A l’issue de la phase test, les Utilisatrices seront informées par courrier électronique de sa date de fin un mois à l’avance ainsi que des conditions de renouvellement de leur abonnement.</p>
      
          <p>L’utilisation des services myCharlotte nécessite l’ouverture d’un compte sur l’application web ou mobile myCharlotte.</p>
          
          <p>L’accès au service est ouvert dès l’acceptation des présentes CGU.</p>
      
          <!--/ PHASE COMMERCIALE
          <p>L’utilisation des services myCharlotte nécessite l’ouverture d’un compte sur l’Application web ou mobile myCharlotte, ainsi que la fourniture d’un moyen de paiement pour procéder à la facturation.</p>
      
          <p>L’accès au service est ouvert dès l’acceptation des présentes CGU et au paiement du premier mois d’abonnement.</p>
      
          <p>L’abonnement est renouvelé automatiquement chaque mois jusqu’à sa résiliation. A moins que vous ne résiliiez votre abonnement avant sa date de facturation mensuelle, vous nous autorisez à vous facturer des frais d’abonnement du mois suivant via votre moyen de paiement.</p>
      
          <p>Les frais d’abonnement seront facturés chaque mois le jour calendaire correspondant au début de votre abonnement via votre moyen de paiement.</p>
      
          <p>Si le règlement d'un paiement échoue en raison de l'expiration de la carte bancaire, de solde insuffisant ou pour tout autre motif, et que vous ne résiliez pas votre compte, nous pouvons suspendre votre accès à notre service jusqu'à ce que nous ayons réussi à prélever votre compte via un moyen de paiement valide que vous aurez mis à jour.</p>
          -->
      
          <h5>6.	Droit de résiliation </h5>
          
          <!--/ PHASE TEST  -->
      
          <p>Vous pouvez résilier votre abonnement à myCharlotte à tout moment en vous rendant directement dans votre espace personnel de l’Application et en cliquant sur le lien « désinscription ».</p>
      
          <p>La cessation des services est immédiate.</p>
      
          <!--/ PHASE COMMERCIALE
      
          <p>Vous pouvez résilier votre abonnement à myCharlotte à tout moment en vous rendant directement dans votre espace personnel de l’Application et en cliquant sur le lien « désinscription ». Vous continuerez d’avoir accès au service jusqu’à la fin de votre période de facturation mensuelle.</p>
          -->
          
          <h5>7.	Droit de rétractation</h5>
          <p>La souscription aux services de myCharlotte entraîne la réalisation immédiate du service de fourniture de contenus numériques. Conformément à l’article L.221-28 du Code de la consommation, vous acceptez expressément de bénéficier des services de myCharlotte avant la fin du délai de rétractation et vous renoncez expressément à la faculté d’exercer votre droit de rétractation.</p>
      
      
          <h5>8.	Notre responsabilité</h5>
          
          <p>Notre Site et notre Application sont fournis « en l’état » et sans aucune garantie, notamment de performance future. myCharlotte exclut, dans les limites permises par la loi, toutes garanties. A cet égard et notamment, myCharlotte ne garantit nullement que le Site et l’Application soient accessibles à tout moment ou sans erreur et/ou exempt de vices. Dans ce cadre, il est rappelé que l’accès au Site ou à l’Application peut être temporairement suspendu, en raison: </p>
          <ul><li> (i) de la maintenance matérielle et/ou logicielle du serveur du Site, et/ou  </li>
          <li>(ii) de la maintenance matérielle, logicielle et/ou éditoriale du Site, et/ou  </li>
          <li>(iii) de la survenance d’un cas de force majeure. </li></ul> <br>
          <p>L’éventualité d’une indisponibilité temporaire ou définitive du Site ne peut en aucun cas donner lieu à une demande de dommages et intérêts ou à toute autre forme de réparation.</p>
          
          <p>Par ailleurs, nous n’accordons aucune garantie expresse ou implicite à l'égard des informations et des données publiées. Vous êtes seule responsable de l'usage et des interprétations que vous faites des informations et des données publiées sur l’Application myCharlotte, ainsi que des actes et conseils que vous en déduisez. Vous êtes également seule responsable de la manière dont vous exploitez les informations et réalisez les activités proposées par myCharlotte.</p>
      
          <p>L'utilisation et l'exploitation par les Utilisatrices des informations et données présentées par nos services myCharlotte se font donc sous leur seule responsabilité.</p>
      
      
          <h5>9.	Traitement des réclamations et litiges</h5>
          
          <p>Les présentes CGU sont soumises aux dispositions de la loi française.</p>
      
          <p>Pour toute réclamation, nous vous remercions de bien vouloir nous contacter à l’adresse email suivante : <a href="mailto:charlotte@mycharlotte.fr">charlotte@mycharlotte.fr</a></p>
      
          <p>Seules les réclamations relatives à l’utilisation des services myCharlotte seront prises en compte.</p>
      
          <p>En vertu de l’article L612-1 du Code de la consommation, « tout consommateur a le droit de recourir gratuitement à un médiateur de la consommation en vue de la résiliation amiable du litige qui l’oppose à un professionnel ».</p>
      
          <p>Conformément au Règlement (UE) n°524/2013, la Commission Européenne a mis en place une plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l'Union européenne, accessible au lien suivant : <a href="https://webgate.ec.europa.eu/odr/" target="_blank">https://webgate.ec.europa.eu/odr/</a>.</p>
      
          <p>A défaut de recours à la médiation, tout litige est porté devant l'une des juridictions territorialement compétentes en vertu du code de procédure civile, le consommateur pouvant en outre saisir la juridiction du lieu où il demeurait au moment de la conclusion du contrat ou de la survenance du fait dommageable.</p>
      
      
          <h5>10.	Politique de cookies</h5>
          
          <p>Nous utilisons des cookies et des dispositifs similaires, sous réserve de votre consentement, pour faciliter votre navigation sur notre Site ou notre Application, pour connaître votre façon d’interagir avec nous.</p>
          
          <p> Nous n’utilisons que des cookies d'analyse de navigation. Ces cookies recueillent des données générales sur les accès des utilisateurs au site (pas sur le contenu) afin de nous permettre par la suite d'obtenir des informations globales sur ces accès à des fins de statistiques.</p>
          
          <p>Ils permettent d'effectuer le suivi du site par le biais de l'outil Google Analytics, qui est un service fourni par Google pour obtenir des données sur l'accès des utilisateurs aux sites web. Certaines des données enregistrées sont analysées par la suite. C'est le cas notamment des données suivantes : </p>
          <ul><li>fréquence d'accès au site d'un utilisateur, dates de la première et de la dernière visite de l'utilisateur, </li>
          <li>durée des visites, </li>
          <li>page depuis laquelle l'utilisateur a accédé au site, </li>
          <li>moteur de recherche utilisé pour y accéder ou lien sur lequel il a cliqué pour y accéder, endroit du monde depuis lequel l'utilisateur a accédé au site, etc. </li></ul>
          
          <p>La configuration de ces cookies est prédéterminée par le service proposé par Google et les informations générées par le cookie concernant l’utilisation de notre site web seront transmises et stockées par Google, Inc (une société basée aux États-Unis). </p>
          
          <p>Nous vous conseillons donc de consulter la politique de confidentialité de Google Analytics, 
          <ul><li><a href="https://support.google.com/analytics/answer/6004245?hl=fr&ref_topic=2919631" target="_blank">Règles de protection des données de Google</a></li>
          <li><a href="https://policies.google.com/privacy?hl=fr" target="_blank">Règles de confidentialité de Google</a></li></ul>
          <p>afin d'obtenir plus d'informations sur ces cookies et sur la façon de les désactiver (étant entendu que nous ne sommes responsables ni du contenu ni de l'exactitude des sites de tiers). </p>
          
          <p>Ces cookies ont vocation à être conservés pour une durée variable allant jusqu’à 13 mois, et pourront être lus et utilisés par myCharlotte lors d’une visite ultérieure sur le site. </p>
          
          <p>Tous les navigateurs Web vous permettent de limiter les comportements des cookies ou de les désactiver dans les paramètres ou les options du navigateur. Les étapes à suivre sont différentes pour chaque navigateur, vous pouvez trouver des instructions dans le menu « Aide » de votre navigateur respectif. </p>
          
          <p>Grâce à votre navigateur, vous pouvez aussi consulter les cookies présents sur votre ordinateur, et les supprimer un à un ou tous d’un coup.</p>
          
          <p>Les cookies sont des fichiers texte de sorte que vous pouvez les ouvrir et lire le contenu. Les données contenues à l’intérieur sont souvent cryptées et correspondant à une session Web si bien qu'elles n'ont du sens que pour le site internet qui les a écrites.</p>
          
          <p>Vous pouvez trouver plus d'informations sur les cookies sur le site de la <a href="https://www.cnil.fr/fr/cookies-comment-mettre-mon-site-web-en-conformite" target="_blank">CNIL</a></p>
         
          <br>
          <a class="btn btn-outline-primary" routerLink="">Retour</a>
        </div>
