<div class="container">
  <section id="header" class="top">
    <header>
      <h1>Bienvenue chez myCharlotte!</h1>
      <p class="subTitle">myCharlotte aide à la réduction des effets secondaires des traitements du cancer du sein.</p>
    </header>
    <footer>
      <div class="row scrollDown">
          <footer>
             <a href="#register"> <button type="button" class="btn btn-outline-light">Rejoignez myCharlotte!</button></a>
          </footer>
      </div>
    </footer>
  </section>

<!-- First -->
  <section id="first" class="main">
    <header>
      <div class="container2">
        <h2>Jour après jour, <br/>faites un pas avec myCharlotte,<br/>vers une meilleure qualité de vie.</h2>
        <p>Dites-nous comment vous vous sentez, myCharlotte vous guide avec <br>un programme quotidien adapté à votre profil, à vos goûts et à vos symptômes.</p>
      </div>
    </header>
    <div class="content dark style1 featured">
      <div class="container3">
        <div class="row iconsContainer">
          <div class="icons">
            <section [routerLink]="['/programme']">
              <span class="feature-icon"><span class="icon fa-cutlery"></span></span>
              <header>
                <h3>Alimentation</h3>
              </header>
              <p>Des recettes faciles pour vous donner de la force en vous faisant plaisir</p>
            </section>
          </div>
          <div class="icons">
            <section [routerLink]="['/programme']">
              <span class="feature-icon"><span class="icon fa-bicycle"></span></span>
              <header>
                <h3>Activité physique</h3>
              </header>
              <p>Des activités simples pour maintenir corps et esprit en mouvement</p>
            
            </section>
          </div>
          <div class="icons">
            <section [routerLink]="['/programme']">
              <span class="feature-icon"><span class="icon fa-sun-o"></span></span>
              <header>
                <h3>Gestion des émotions</h3>
              </header>
              <p>Des exercices de respiration et de concentration efficaces pour améliorer votre bien-être</p>
            </section>
          </div>
        </div>
    
      </div>
    </div>
  </section>

  
</div>
