<app-header></app-header>
   
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-xs-10 col-md-8 col-lg-6">
            <img class="card-img-top" src="{{article?.url}}" alt="Card image cap">
        </div>            
    </div>
     
    <section class="txt">
        <div class="row justify-content-md-center">
            <div class="col col-xs-10 col-md-8 col-lg-6">
                <h2 class="title">{{article?.title}}</h2>
                <h3 class="subtitle">{{article?.subtitle}}</h3>
                <div class="content"[innerHtml]="content | keepHtml"></div>
            </div>            
        </div>
    </section>
</div>

<app-footer></app-footer>