<div id="register" class="container">
  <div class="subContainer .col-xs-10 .col-md-6">
    <div class="header">
    <h2 class="titleRegister">myCharlotte commence la phase test!</h2>
    <p class="secondaryTitle">Vous êtes atteinte d’un cancer du sein et souhaitez diminuer l'impact des traitements sur votre corps et votre esprit?</p>
    <p class="secondLine"><span style="color: #f48fb1">myCharlotte</span> met à votre disposition des exercices dont l'efficacité a été démontrée lors de nombreux essais cliniques et vous guide pas à pas dans leur réalisation.</p>
    <p class="secondLine">Tous les jours, vous aurez accès à des enregistrements audios et vidéos de Pilates, de Yoga, d'exercices de respiration profonde, d'exercices de relaxation ainsi que des méditations pour mieux vivre avec les effets secondaires parmi lesquels: <br> fatigue chimiothérapique, nausées, symptômes dépressifs, troubles du sommeil, problèmes articulaires,  etc.</p>

    <p class="secondLine">Nous cherchons un nombre limité de femmes en cours de traitement ou en rémission qui souhaitent s'impliquer dans le développement d'un outil utile pour toutes celles qui, comme nous, ont à subir les conséquences des traitements.</p>
    <p class="secondLine">Pendant cette phase test d'une durée initiale de 3 mois, vous disposez gratuitement de l'application web et mobile <span style="color: #f48fb1">myCharlotte</span> pour effectuer régulièrement les exercices proposés.</p>
    <p class="secondLine">Nous limitons le nombre de participantes afin d'être disponibles pour échanger sur les activités et les fonctionnalités existantes, en suggérer de nouvelles et signaler les dysfonctionnements potentiels.</p>
    <p class="secondLine">L'application sera disponible début mars 2019. Vous recevrez un lien d'accès au moment du lancement.</p>
    <p class="conclusion">Nous nous réjouissons de pouvoir construire ensemble un outil adapté aux besoins de chacune.</p>

    </div>
    <div class="content">
    <form   class="login-form" 
            [formGroup]="myForm" 
            (ngSubmit)="onSubmit()"
    >  
      <input  type="text" 
                class="form-control" 
                placeholder="Prénom" 
                aria-label="firstName"
                formControlName="firstName">
                <span *ngIf="!myForm.get('firstName').valid && myForm.get('firstName').touched"
                      class="help-block"
                >Merci d'entrer un prénom pour vous inscrire</span>
        <input  type="text" 
                class="form-control" 
                placeholder="Nom" 
                aria-label="lastName"
                formControlName="lastName">
                <span *ngIf="!myForm.get('lastName').valid && myForm.get('lastName').touched"
                      class="help-block"
                >Il vous faut entrer un nom pour vous inscrire</span>
        <input  type="text" 
                class="form-control" 
                placeholder="Pays" 
                aria-label="country"
                formControlName="country">
        <input  type="text" 
                class="form-control" 
                placeholder="Ville" 
                aria-label="city"
                formControlName="city">
        <input  type="email" 
                class="form-control" 
                placeholder="Adresse E-Mail" 
                aria-label="email"
                formControlName="email"
                autocapitalize="off">
                <span *ngIf="!myForm.get('email').valid && myForm.get('email').touched"
                      class="help-block"
                >Il nous faut un email pour vous envoyer le lien d'accès!</span>
        <input  type="email" 
                class="form-control" 
                placeholder="Confirmez votre adresse E-Mail" 
                aria-label="email"
                formControlName="confirmeEmail"
                autocapitalize="off">
                <span *ngIf="!myForm.get('email').valid && myForm.get('email').touched"
                      class="help-block"
        >Il nous faut un email pour vous envoyer le lien d'accès!</span>
        <p class="interestTitle">Vous êtes atteinte d'un cancer du sein et vous:</p>
        <div class="radio" *ngFor="let interest of interests">
          <label>
            <input  type="radio" 
                    name= "interest"
                    [value]= "interest"
                    formControlName="interest">
            <p class="interest">{{interest}}</p>
          </label>  
        </div>
                  <div  *ngIf="isAlert"
                        class="alert alert-warning alert-dismissible fade"
                        [ngClass]="{show: isAlert}" 
                        role="alert">
                  Il semblerait que cette adresse email soit déjà prise. <br>
                  Essayer avec une autre adresse.                      
                        <button 
                              type="button" 
                              class="close" 
                              data-dismiss="alert" 
                              aria-label="Close"
                              (click)="closeAlert()">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
        <button type="submit" 
                class="btn btn-light"
                [disabled]="!myForm.valid"
                >Validez</button>
            </form>
          </div>

          <div class="spinner"
                *ngIf="isSpinner">
            <style>@-webkit-keyframes 
              spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@-moz-keyframes 
              spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}@keyframes 
              spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}
            }
              .spinner{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1003;background: #ffffff;overflow:hidden}  
              .spinner div:first-child{display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;box-shadow:0 3px 3px 0 #FF7088;transform:translate3d(0,0,0);animation:spin 2s linear infinite}  
              /* .spinner div:first-child:after,.spinner div:first-child:before{content:'';position:absolute;border-radius:50%}  
              .spinner div:first-child:before{top:5px;left:5px;right:5px;bottom:5px;box-shadow:0 3px 3px 0 rgb(255, 228, 32);-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite}  
              .spinner div:first-child:after{top:15px;left:15px;right:15px;bottom:15px;box-shadow:0 3px 3px 0 rgba(61, 175, 255,1);animation:spin 1.5s linear infinite} */
              </style>
              <div id="nb-global-spinner" class="spinner">
                <div class="blob blob-0"></div>
                <div class="blob blob-1"></div>
                <div class="blob blob-2"></div>
                <div class="blob blob-3"></div>
                <div class="blob blob-4"></div>
                <div class="blob blob-5"></div>
              </div>
          </div>

        <div  class="modal fade" 
              [ngClass]="{'show': isShow}"
              [ngStyle] = "{display: isShow? 'flex': 'none'}"
              tabindex="-1" 
              role="dialog" 
              aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5>C'est bon!</h5>
                </div>
                  <div class="modal-body">
                      <p>Nous vous avons envoyé une confirmation d'inscription à la phase test par email. Vous recevrez le lien d'accès à l'application à cette même adresse.</p>
                  </div>

                  <div class="modal-footer">
                    <button type="button" 
                    class="btn btn-secondary"
                    (click)="closeModal()">
                      Fermez
                    </button>
                </div>
                
              </div>
            </div>
          </div>

          <div  class="modal fade" 
          [ngClass]="{'show': isError}"
          [ngStyle] = "{display: isError? 'flex': 'none'}"
          tabindex="-1" 
          role="dialog" 
          aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Ouuups!</h5>
            </div>
              <div class="modal-body">
                  <p>Il semblerait qu'une erreur se soit produite, envoyez-nous un email directement avec vos coordonnées pour vous inscrire. Désolé!</p>
              </div>
              <div class="modal-email"><a href="mailto:charlotte@mycharlotte.fr"><i class="fa fa-envelope fa-2x"></i></a></div>

              <div class="modal-footer">
                <button type="button" 
                class="btn btn-secondary"
                (click)="closeError()">
                  Fermez
                </button>
            </div>
            
          </div>
        </div>
      </div>

        </div>
</div>